<div class="header">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      HOME
    </a>
    <ul id="user-links">
      <%= link_to "注册", signup_path %>
      <%= link_to "登陆", login_path %>
    </ul>
  </div>
</div>